@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Meow+Script&family=Merienda:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
   font-family: "Lato", sans-serif;
   padding: 0;
   margin:0;
   box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
 font-family: "Merienda", cursive
}

#header {
    display: flex;
    justify-content: center;
}

/*NAVIGATION*/

nav {
    padding: 10px 50px;
    width: 100%;
    
}

.logo {
    display: flex;
    justify-content: center;
    font-family: "Meow Script", cursive;
    font-size: 32px;
    padding: 20px 0;
}

.nav__link--list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    text-decoration: none;
}

/* Welcome */

.welcome {
    display: flex;
    justify-content: center;
    margin: 24px 24px;
    padding: 24px 32px;
    width: 100%;
    max-width: 100vh;
    position: absolute;
}

.welcome__img {
    width: 100%;
    background-position: center;

}

.welcome__img--container {
    transform: translateY(100px);
}